{% extends "template.twig" %}
{% block header %}

    <title>Buy/sell crypto</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        div {
            text-align: center;
        }

        .error {
            font-size: large;
            font-weight: bold;
            color: darkred;
        }
    </style>
    <body style="background:#020248">
    <div>
        <form action="/symbol" method="post">
            <br>
            <h1 class="text-3xl font-bold text-center text-teal-300" style="color: white">Buy/Sell
                crypto {{ buySellSymbol }}, coin price {{ price | round(2)}} </h1>

            <p class="text-black-700 text-3xl m-4" style="color: white">Your wallet data:</p>
            <ul class="form-container text-2xl m-4">
                <li class="list-group-item">Your cash value: {{ transactions[0].cash }}</li>
                {% for coin in wallet %}
                    <li class="list-group-item">{{ coin.symbol }},
                        coin quantity {{ coin.count }}</li>
                {% endfor %}
            </ul>

            <div>
                <label class="px-4 py-2" style="font-size: large; color: white" for="text"><b>How many you want to buy?</b></label>
                <input type="text" placeholder="Enter how many" name="numberBuy" id="num">
                <div class="error">
                    {{ sellError.numberBuy }}
                    {{ sellError.numberBuyCost }}
                </div>
            </div>
            <div>
                <label class="px-4 py-2" style="font-size: large; color: white" for="text"><b>How many you want to sell?</b></label>
                <input type="text" placeholder="Enter how many" name="numberSell" id="num">
                <div class="error">
                    {{ sellError.numberSell }}
                </div>
            </div>
            <div class="error">
                {{ sellError.number }}
                {{ sellError.numbers }}
            </div>
            <br>
            <button
                    class="px-4 py-2 font-bold text-white bg-teal-600 rounded-full hover:bg-teal-500 focus:outline-none focus:shadow-outline-teal active:bg-teal-700">
                Buy/Sell
            </button>
            <br>
            <br>
        </form>

        <form action="/slot" method="post">
            <br>
            <h1 class="text-3xl font-bold text-center text-teal-300" style="color: white">Short
                crypto {{ buySellSymbol }}</h1>

            <div>
                <label class="px-4 py-2" style="font-size: large; color:white" for="text"><b>How many you want to slot?</b></label>
                <input type="text" placeholder="Enter how many" name="slot" id="slotId">

            </div>

            <br>
            <button
                    class="px-4 py-2 font-bold text-white bg-teal-600 rounded-full hover:bg-teal-500 focus:outline-none focus:shadow-outline-teal active:bg-teal-700">
                Slot
            </button>

            <br>
            <br>
        </form>

        <form action="/">
            <br>
            <button class="px-4 py-2 font-bold text-white bg-teal-600 rounded-full hover:bg-teal-500 focus:outline-none focus:shadow-outline-teal active:bg-teal-700">
                To the start
            </button>
            <br>
            <br>
        </form>

    </div>
    </body>

{% endblock %}